{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Salut</h1>
    <form action="register" method="POST">
        
        {% csrf_token %}

        <input type="text" name="username" placeholder="Pseudo"><br>
        <input type="text" name="last_name" placeholder="Nom"><br>
        <input type="text" name="first_name" placeholder="Prénom"><br>
        <input type="text" name="email" placeholder="EmailExample@quelquechose.com"><br>
        <input type="number"  min="10" max="100" name="age" placeholder="Âge"><br>
        <input type="date" name="diplome" placeholder="Année du diplôme"><br>
        <select name="contrat">
            <option>Stage</option>
            <option>Alternance</option>
            <option>CDD</option>
            <option>CDI</option>
        </select> <br>
        <input type="text" name="company" placeholder="Nom d'entreprise"><br>
        <input type="text" name="post" placeholder="Intitulé du poste"><br>
        <input type="text" name="localisation" placeholder="Adresse"><br>
        <input type="text" name="password" placeholder="Password"><br>
        <input type="text" name="password2" placeholder="Confirm Password"><br>
        <input type="submit" value="Confirmer">
    </form>
</body>
</html>